#root {
  display: flex;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

/*---------LOGIN---------*/
.login {
  width: 100%;
}

.login .background-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

.login .left {
  height: 100vh;
}

.login .right {
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: white;
  padding-left: 200px;
  row-gap: 30px;
}

.login .right .logo {
  width: 150px;
}

.login .right .title {
  width: 100%;
}

.login .right .login-button button {
  background-color: #C22730;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}


/*---------AMBULANCE---------*/
.ambulance {
  width: 100%;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
}

.ambulance header {
  height: 90px;
  width: 100%;
}

.ambulance header .row { 
  height: 100%;
  margin: 0px !important;
}

.ambulance header .logo {
  height: 100%;
}

.ambulance header .logo img {
  height: 100%;
}

.ambulance header .cover {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0px !important;
}

.ambulance header .cover .meldingen {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.ambulance header .cover .meldingen::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.ambulance header .cover .meldingen::-webkit-scrollbar
{
	height: 10px;
	background-color: #F5F5F5;
}

.ambulance header .cover .meldingen::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.ambulance header .cover .meldingen a {
  text-decoration: none;
  color: black;
  transition: all 0.4s ease-in-out;
}

.ambulance header .cover .meldingen a:hover {
  background-color: #7c7c7c80;
}

.ambulance header .cover .meldingen .melding {
  max-width: 250px;
  min-width: 200px;
}

.ambulance header .cover .meldingen .melding h5, .ambulance header .cover .meldingen .melding p {
  margin: 0;
}

.ambulance .ambulance-details {
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
}

.ambulance .ambulance-details .left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  padding: 0px 40px;
}

.ambulance .ambulance-details .right {
  width: 75%;
  background-image: url("https://media.discordapp.net/attachments/894538357793767474/1174264146137714739/image.png?ex=6566f5b5&is=655480b5&hm=c50c3aede1a28b925db2c94dfc47932af6dd4adc4e728549bc5c83f4124d653b&=&width=1051&height=662");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}